---
layout: handbook-page-toc
title: "Plan Stage Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Group Pages
* [Project Management Group Dashboards](/handbook/engineering/metrics/dev/plan/project-management)
* [Product Planning Group Dashboards](/handbook/engineering/metrics/dev/plan/product-planning)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "stage", filter_value: "Plan" } %>

